{
    "semi": true,
    "singleQuote": true, 
    "trailingComma": "all",
    "bracketSameLine": true,
    "singleAttributePerLine:": true,
    "useTabs" : true,
    "bracketSpacing": true,
    "printWidth": 100,
    "endOfLine": "auto"
}
